	$bannerWidth: 300px;
	$bannerHeight: 250px;
	$bgColor: #fff;
	$borderColor: #BEBEBE;
	$expandTimer: 250ms;

	@mixin transform($value) {
		-webkit-transform: $value;
		-ms-transform: $value;
		transform: $value;
	}

	@mixin animation($value) {
		-webkit-animation: $value;
		animation: $value;
	}
	
	@mixin transform-origin($x,$y) {
		-webkit-transform-origin: $x $y;
		-ms-transform-origin: $x $y;
		transform-origin: $x $y;
	}

	@mixin keyframes ($animation-name) {
		@-webkit-keyframes #{$animation-name}{
			@content;
		}
		@-moz-keyframes #{$animation-name}{
			@content;
		}
		@-o-keyframes #{$animation-name}{
			@content;
		}
		@keyframes #{$animation-name}{
			@content;
		}
	}
			
	@mixin frames($frameMap){
		@each $frame in map-keys($frameMap){
			##{$frame}{
				@include animation(map-get($frameMap, $frame));
			}
		}
	}
	body{
		margin:0;
	}

	#bg-exit {
		position:relative;
		width:$bannerWidth - 2px;
		height:$bannerHeight - 2px;
		border:#000 1px solid;
		background-color:$bgColor;
		font-family: "Open Sans", Arial, sans-serif;
		cursor:pointer;
		overflow:hidden;
		
		.frame, .bg {
			position:absolute;
			top:-1px;
			left:-1px;
			//width:100%;
			//height:100%;
			@include transform-origin(50%,42.5%);
		}
		
			/* initialize all frames as hidden */
		.frame {
			opacity: 0;
			z-index: 1;
		}
		
			// touch-up specific frame heights because bad assets are very, very real
			/*#f4 {
				top:2px;
			}*/
		
		.bg {
			z-index: 0;
		}
		
		.dot{
			position: absolute;
			width: 34px;
			height: 34px;
			background-color: #ccd642;
			border-radius: 50%;
			opacity:0;
			z-index:2;
		}
		
		#indication {
			opacity:1;
			z-index: 3;
		}
		#f1{
		  position:absolute;
		  top:70px;
		  left:50px
		}
		#f2{
      position:absolute;
      top:90px;
      left:30px
    }
    #f3{
      position:absolute;
      top:90px;
      left:50px
    }
    #f4{
      position:absolute;
      top:90px;
      left:10px
    }
    #f5{
      position:absolute;
      top:55px;
      left:5px
    }
    #f51{
      position:absolute;
      top:55px;
      left:-25px
    }
		#pi{
		  position:absolute;
		  height:10px;
		  width:150px;
		  top:140px;
		  left:85px;
		  //background-color:#000;
		  z-index:3;
		}
		#oncall{
     left:50px;
     top:55px;
    }
	
		#default {
			display:none;
		}
		
		#learn_more {
			position:absolute;
			overflow:hidden;
			top:100px;
			//left:6px;
			right:2px;
			z-index:3;
			
			width:145px;
			height:35px;
		
			opacity:0;
		}
		#overlay-end{
		  position:absolute;
		  overflow:hidden;
		  width: 0;
		  height: 0;
		  border-top: 125px solid transparent;
		  border-left: 125px solid white;
		  border-bottom: 125px solid transparent;
		  top:-108px;
		  left:-105px;
		  z-index:4;
		  opacity:0.5;
		}
    
		/*#learn_more:hover {
			@include transform(scale(1.04));
		}*/
		
		#isi-container {
			position:absolute;
			opacity:0;
			bottom:0;
			right:0;
			height:87px;
			//height:95px;
			width:100%;
			z-index:4;
			background-color:$bgColor;
			
				/* handle resizing */
			transition: height $expandTimer;
			
			> div {
				padding:0 0 0 5px;
				transition: height $expandTimer;
			}
			
			#isi-header {
				border:none;
				height: 17px;
				
				a {
cursor:pointer;
				  //font-family: Arial;
				  font-family: Arial;
					position: absolute;
					top: 1px;
					left: 10px;
					
					color: #20BFB4;
					//color: #18a89e;
					font-weight: bold;
					font-size: 12px;
					line-height: 11px;
					letter-spacing: -0.6px;
				}
				
				#isi-expand {
					position: absolute;
					top: 5px;
					right: 0px;
					
					width:10px;
					width:10px;
					
					display:block;
					float:right;				
					opacity:1;
					
					border: #E5E5E5 1px solid;	
					
					transition:opacity $expandTimer;
				}
				
				#isi-collapse {
					@extend #isi-expand;
					top:1px;
					display:none;
					opacity:0;
					transition:opacity $expandTimer;
				}
			}
		
			#legal {
				//font-family: AkzidenzGroteskBE-Md;
				font-family: Arial, sans-serif;
				//font-weight:bold;
				position:absolute;
				bottom:0;
				left:0;
				width:100%;
				height:70px;
				color:#000;
				padding:0;
				overflow-x: hidden;
				//overflow-y: hidden;
				overflow-y: auto;
				cursor:default;
				font-size:11px;
				line-height: 13px;
				//letter-spacing: -0.12px;
				letter-spacing: 0;
				
				p {
					margin:0 8px 0 10px;
				}
				
				.standalone {
					margin-top:10px;
					font-size:12px;
				}
				
				.alert {
					color:#20BFB4;
				}
				
				p.standalone-end {
					margin-top:10px;
					margin-bottom:10px;
				}
        
				h5 {
					color: #20BFB4;
					//color:#18a89e;
					font-size:12px;
					margin: 0px 0 0 10px;
					font-weight:bold;
					font-family:"Open Sans", Arial, sans-serif;
					
					a{
					  color: #20BFB4;
					  //color:#18a89e;
					  text-decoration:underline;
					}
				}
				
				ul {
					padding-left: 6px;
					margin: 0 10px 10px 22px;
					list-style:none;
				}
				
				li {
					text-indent:-9px;
					margin:8px 0px;
					
					&:before {
						content:'\2022';
						font-size: 14px;
						vertical-align: -1px;
						padding-right:4px;
					}
				}
				
				ul:not(:first-of-type) li {
					padding-bottom:10px;
				}
				
				ul.columns {
					-moz-column-count: 2;
					-moz-column-gap: 10px;
					-webkit-column-count: 2;
					-webkit-column-gap: 10px;
					column-count: 2;
					column-gap: 10px;
					
					li {
						padding:0 0 0 8px;
					}
				}
				
				sup {
					font-size: 75%;
					line-height: 0;
				}
				
				.strong {
					font-weight:bold;
				}
				
				a {
cursor:pointer;
					color:#20BFB4;
					text-decoration:underline;
				}
				
				#shire-logo {
					width:129.5px;
					display:block;
				}
			}
			
			#scrollbar-container {
				position:relative;
				bottom: 0;
				right: -1px;
				width:14px;
				height:62px;
				//  height:80px;
				float:right;
				display:block;
				padding:0 !important;
				z-index: -1;
				
				opacity:0;
				transition:opacity $expandTimer;
			}
		}
		
		&.expanded {
		
			#isi-container{
				height:100%;
				border-left: $borderColor 1px solid;
		
				#isi-header {
			
					#isi-expand {
						display:none;
						opacity:0;
					}
			
					#isi-collapse {
						display:block;
						opacity:1;
					}
				}
				
				#scrollbar-container {
					display:none;
					opacity:0;
				}
				
				#legal {
					height: 234px;
					overflow-y: auto;
				}
			}
		}
	}