/* Tiny Scrollbar */
.viewport {
	height: 100%; 
	overflow: hidden; 
	position: relative; 
}
#legal .viewport {
	width: 706px; 
}
#duplicate-legal .viewport {
	width: 235px; 
}
.viewport .overview {
	list-style: none; 
	position: absolute; 
	left: 0; 
	top: 0; 
	padding: 0; 
	margin: 0; 
}
.scrollbar{
	background: transparent; 
	position: absolute; 
	background-position: 0 0; 
	right: 0; 
	width: 13px; 
	z-index:1001; 
	padding:0;
	margin:0;
}
.scrollbar .track { 
	background: transparent; 
	height:100%; 
	width:11px;
	border-left:#e1e1e1 1px solid;
	border-right:#e1e1e1 1px solid;
	position: absolute; 
	top:11px; 
}
.scrollbar .thumb { 
	position: absolute; 
	top: 0; 
	left: 1px; 
	height: 16px; 
	width: 9px; 
	
	background: 
			url(scroll-thumb.png) 50% -4px no-repeat
		,	url(scroll-thumb.png) 50% 12px no-repeat
		,	linear-gradient(90deg,#b8d464,#789124);
	
	cursor: pointer; 
	overflow: hidden; 
}
.scrollbar .decrement {
	position:absolute;
	top:0;
	height:11px;
	width:13px;
	background:url(scroll-arrows.png) 0% 0px;
	cursor:pointer;
}
.scrollbar .increment {
	position:absolute;
	bottom:0;
	height:11px;
	width:13px;
	background:url(scroll-arrows.png) 0% -11px;
	cursor:pointer;
}

.scrollbar.disable { display: none; }

.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }